QLabel {
    font-size: 13px;
}

QLabel[role='title'] {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
}

QPushButton {
    background-color: #0078d7;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
}

QRangeSlider::handle {
        width: 25px;
        height: 30px;
        background: #0078d7;
        border-radius: 10px;
}
